<div fxLayout="column" fxLayoutAlign="center center" fxFlex="" fxFill="" fxLayoutGap="20px">
    <mat-toolbar color="accent">
        <button mat-icon-button class="example-icon" (click)="onAddItemClick()" [disabled]="!IsSelectedItemValid"
            aria-label="Example icon-button with share icon">
            <mat-icon matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-ADD-ITEM' | translate }}">
                post_add</mat-icon>
        </button>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <form [formGroup]="itemsToggleForm">
            <mat-button-toggle-group class="l-design" formControlName="selectedItem" fxHide.xs="" fxHide.sm="">
                <mat-button-toggle class="select" (click)="onSelectedItemClick(item)" [disabled]="!IsSelectedItemValid"
                    matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-SELECTED-ITEM' | translate }}"
                    *ngFor="let item of items;let indexOfelement=index;" [value]="item" aria-label="Text align left">
                    {{indexOfelement + 1}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </form>
    </mat-toolbar>
    <mat-card fxFlex="" fxFill="" *ngIf="items.length > 0">
        <mat-toolbar color="default" style="height: 40px" *ngIf="itemsToggleForm.get('selectedItem')?.value">
            <section style="color: #7c1434">
                <span>{{ 'DECISION-TREES.DESIGNER.LABEL-ITEM' | translate }}</span>
                <span> {{itemsToggleForm.get('selectedItem')?.value ? itemsToggleForm.get('selectedItem')?.value.order +
                    1 : ''}}</span>
            </section>
            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space"></span>
            <button *ngIf="itemsToggleForm.get('selectedItem')?.value.order === (items.length - 1)" mat-icon-button class="example-icon" (click)="onRemoveItemClick()"
                aria-label="Example icon-button with share icon">
                <mat-icon matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-REMOVE-ITEM' | translate }}">
                    playlist_remove</mat-icon>
            </button>
        </mat-toolbar>
        <mat-card-content fxFlex="" fxFill="">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="" fxFill=""
                *ngIf="itemsToggleForm.get('selectedItem')?.value">
                <form [formGroup]="itemTypeToogleForm" fxFlex="" fxFill="">
                    <mat-button-toggle-group fxFlex="" class="l-design" formControlName="selectedItemType" fxHide.xs=""
                        fxHide.sm="">
                        <mat-button-toggle fxFlex="" class="select-type" (click)="onSelectedItemTypeClick(itemType.Question)"
                            matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-SELECTED-ITEM-TYPE' | translate }}"
                            [value]="itemType.Question" aria-label="Text align left">
                            {{ 'DECISION-TREES.DESIGNER.LABEL-QUESTION' | translate }}
                        </mat-button-toggle>
                        <mat-button-toggle fxFlex="" class="select-type" (click)="onSelectedItemTypeClick(itemType.Answer)"
                            matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-SELECTED-ITEM-TYPE' | translate }}"
                            [value]="itemType.Answer" aria-label="Text align left">
                            {{ 'DECISION-TREES.DESIGNER.LABEL-ANSWER' | translate }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
                <form [formGroup]="questionItemForm" fxFlex="" fxFill=""
                    *ngIf="itemTypeToogleForm.get('selectedItemType')?.value === itemType.Question">
                    <div fxLayout="column" fxFlex="" fxLayoutGap="10px">
                        <!-- Text -->
                        <mat-form-field fxFlex="" fxFill="">
                            <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-TEXT' | translate
                                }}</mat-label>
                            <input formControlName="text" matInput
                                placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-TEXT' | translate }}" required>
                            <mat-error *ngIf="questionItemForm.get('text')?.hasError('required')">
                                {{ 'DECISION-TREES.DESIGNER.ERROR-TEXT-REQUIRED' | translate }}
                            </mat-error>
                            <mat-error *ngIf="questionItemForm.get('text')?.hasError('maxlength')">
                                {{ 'DECISION-TREES.DESIGNER.ERROR-TEXT-MAX-LENGTH' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <!-- SubText -->
                        <mat-form-field fxFlex="" fxFill="">
                            <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-SUBTEXT' | translate
                                }}</mat-label>
                            <input formControlName="subText" matInput
                                placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-SUBTEXT' | translate }}">
                            <mat-error *ngIf="questionItemForm.get('subText')?.hasError('maxlength')">
                                {{ 'DECISION-TREES.DESIGNER.ERROR-SUBTEXT-MAX-LENGTH' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <!-- Choices -->
                        <app-question-choices [question]="SelectedItem"
                            [itemsFromTree]="items"></app-question-choices>
                    </div>
                </form>
                <!-- Answer form -->
                <form [formGroup]="answerItemForm" fxFlex="" fxFill=""
                    *ngIf="itemTypeToogleForm.get('selectedItemType')?.value === itemType.Answer">
                    <div fxLayout="column" fxFlex="" fxLayoutGap="10px">
                        <div fxLayout="row" fxFlex="" fxFill="">
                            <!-- Text -->
                            <mat-form-field fxFlex="" fxFill="">
                                <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-TEXT' | translate
                                    }}</mat-label>
                                <input #text formControlName="text" matInput
                                    placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-TEXT' | translate }}" required>
                                <div id="answerText" contenteditable="true" [innerHtml]="SelectedItem.text"></div>
                                <!-- Edit with text editor -->
                                <button
                                    matTooltip="{{ 'DECISION-TREES.DESIGNER.TEXT-TOOLTIP-BTN-TEXT-EDITOR' | translate }}"
                                    type="button" matSuffix mat-icon-button aria-label="Text editor"
                                    (click)="onTextEditorClick()">
                                    <mat-icon>present_to_all</mat-icon>
                                </button>
                                <mat-error *ngIf="answerItemForm.get('text')?.hasError('required')">
                                    {{ 'DECISION-TREES.DESIGNER.ERROR-TEXT-REQUIRED' | translate }}
                                </mat-error>
                                <mat-error *ngIf="answerItemForm.get('text')?.hasError('maxlength')">
                                    {{ 'DECISION-TREES.DESIGNER.ERROR-TEXT-MAX-LENGTH' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- SubText -->
                        <mat-form-field fxFlex="" fxFill="">
                            <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-SUBTEXT' | translate
                                }}</mat-label>
                            <input formControlName="subText" matInput
                                placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-SUBTEXT' | translate }}">
                            <mat-error *ngIf="answerItemForm.get('subText')?.hasError('maxlength')">
                                {{ 'DECISION-TREES.DESIGNER.ERROR-SUBTEXT-MAX-LENGTH' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <div fxLayout="row" fxFlex="" fxFill="" fxLayoutGap="10px">
                            <!-- TextLink -->
                            <mat-form-field fxFlex="" fxFill="">
                                <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-TEXT-LINK' | translate
                                    }}</mat-label>
                                <input formControlName="textLink" matInput
                                    placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-TEXT-LINK' | translate }}">
                                <mat-error *ngIf="answerItemForm.get('textLink')?.hasError('maxlength')">
                                    {{ 'DECISION-TREES.DESIGNER.ERROR-TEXT-LINK-MAX-LENGTH' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <!-- Info -->
                            <mat-form-field fxFlex="" fxFill="">
                                <mat-label> {{ 'DECISION-TREES.DESIGNER.LABEL-INFO' | translate
                                    }}</mat-label>
                                <input formControlName="info" matInput
                                    placeholder="{{ 'DECISION-TREES.DESIGNER.LABEL-INFO' | translate }}">
                                <mat-hint>{{ 'DECISION-TREES.DESIGNER.LABEL-INFO-DESC' | translate }}</mat-hint>
                                <mat-error *ngIf="answerItemForm.get('info')?.hasError('maxlength')">
                                    {{ 'DECISION-TREES.DESIGNER.ERROR-INFO-MAX-LENGTH' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>