<footer>
  <mat-toolbar fxFlex="" fxFill="">
    <mat-toolbar-row fxFlex="" fxFill="">
      <div fxLayout="row" fxFlex="" fxFill="" fxLayoutAlign="space-between center">
        <span class='spacer'></span>
        <div class="copyright">© {{currentYear}} - {{currentVersion}} - EAPN MADRID. {{ 'FOOTER.TEXT-COPYRIGHT' | translate }} | <a
            href="http://www.eapnmadrid.org/" target="_blank">{{ 'FOOTER.TEXT-LEGAL-ADVISE' | translate }}</a> | <a
            href="http://www.eapnmadrid.org/" target="_blank">{{ 'FOOTER.TEXT-PRIVATE-POLICY' | translate }}</a></div>
        <span class='spacer'></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>