<div class="container"></div>
<div fxLayout="column" fxFlex="" fxFill="" fxLayoutAlign="center center">
    <div class="text" fxLayout="row" fxFlex="" fxFill="" fxLayoutAlign="center center">
        <div class="wrapper">
            <div id="S" class="letter">S</div>
            <div class="shadow">S</div>
        </div>
        <div class="wrapper">
            <div id="E" class="letter">E</div>
            <div class="shadow">E</div>
        </div>
        <div class="wrapper">
            <div id="N" class="letter">N</div>
            <div class="shadow">N</div>
        </div>
        <div class="wrapper">
            <div id="S" class="letter">S</div>
            <div class="shadow">S</div>
        </div>
        <div class="wrapper">
            <div id="I" class="letter">I</div>
            <div class="shadow">I</div>
        </div>
        <div class="wrapper">
            <div id="B" class="letter">B</div>
            <div class="shadow">B</div>
        </div>
        <div class="wrapper">
            <div id="I" class="letter">I</div>
            <div class="shadow">I</div>
        </div>
        <div class="wrapper">
            <div id="L" class="letter">L</div>
            <div class="shadow">L</div>
        </div>
        <div class="wrapper">
            <div id="I" class="letter">I</div>
            <div class="shadow">I</div>
        </div>
        <div class="wrapper">
            <div id="Z" class="letter">Z</div>
            <div class="shadow">Z</div>
        </div>
        <div class="wrapper">
            <div id="A" class="letter">A</div>
            <div class="shadow">A</div>
        </div>
        <div class="wrapper">
            <div id="C" class="letter">C</div>
            <div class="shadow">C</div>
        </div>
        <div class="wrapper">
            <div id="I" class="letter">I</div>
            <div class="shadow">I</div>
        </div>
        <div class="wrapper">
            <div id="O" class="letter">Ó</div>
            <div class="shadow">Ó</div>
        </div>
        <div class="wrapper">
            <div id="N" class="letter">N</div>
            <div class="shadow">N</div>
        </div>
    </div>
    <div fxLayout="column" fxFlex="" fxFill="" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" (click)="onDecisionTreeCatalogClick()">
            <mat-icon>new</mat-icon>
            {{ 'HOME.DECISION-TREE-CATALOG' | translate }}
        </button>
    </div>
</div>
